<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Network Community</title>
    <link rel="stylesheet" th:href="@{/css/posts.css}">
</head>

<body>

<div class="container">
    <div style="margin-bottom:20px;">


    <h1>Network Community</h1>
    <a href="/posts">Feed</a>

    |

    <a href="/users">Users</a>

    |

    <form action="/logout"
          method="post"
          style="display:inline;">

        <button type="submit">
                Logout
        </button>

    </form>

</div>

    <form action="/posts/create" method="post">

        <label for="content">Nova publicação</label>

        <textarea
                id="content"
                name="content"
                placeholder="Escreva algo..."
                required>
        </textarea>

        <button type="submit">
            Publicar
        </button>

    </form>

    <hr>

    <div class="post-card" th:each="post : ${posts}">

        <div class="post-header">

            <strong th:text="${post.user.name}"></strong>

            <small th:text="${#temporals.format(post.createdAt,'dd/MM/yyyy HH:mm')}"></small>

        </div>

        <div class="post-content">

            <p th:text="${post.content}"></p>

        </div>

        <div class="post-footer">

            <form th:action="@{/posts/{id}/like(id=${post.id})}" method="post">

                <button type="submit">
                    ❤️ Curtir (<span th:text="${post.likes}"></span>)
                </button>

            </form>

        </div>

    </div>

</div> <!-- fecha container -->

</body>