<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>

<h1>Cadastro</h1>

<form th:action="@{/register}" th:object="${user}" method="post">

    <input type="text" th:field="*{name}" placeholder="Nome" />
    <br>

    <input type="email" th:field="*{email}" placeholder="Email" />
    <br>

    <input type="password" th:field="*{password}" placeholder="Senha" />
    <br>

    <button type="submit">Cadastrar</button>

</form>

</body>
</html>